.about {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 0 auto;
}

.aboutContent {
    display: flex;
    align-items: center;
    max-width: 1240px;
    gap: 16px;
}

.leftContent {
    width: 50%;
}

.rightContent {
    margin-left: auto;
    position: relative;
}

.aboutContentHeading {
    font-size: 128px;
}

.outerImage {
    border: 2px solid #8A8A8A;
    padding: 2rem;
    position: absolute;
    border-radius: 260px;
    height: 700px;
    width: 465px;
    top: -4%;
    left: -8%;
}

.innerImage {
    border: 2px solid #8A8A8A;
    padding: 2rem;
    position: absolute;
    border-radius: 260px;
    height: 765px;
    width: 565px;
    top: -8%;
    left: -20%;
}

.starImage {
    top: 10%;
    position: absolute;
}